/*Fuentes importadas Google-fonts*/ 
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Nanum+Gothic:wght@400;800&family=Quicksand:wght@400;700&family=Raleway:wght@300&display=swap');

/* Reset e inicio de estilos */
*{margin: 0; padding: 0;}
*{box-sizing:border-box;}

/*Estilos generales para todos los HTML*/
body { /* Estilo de fuente para todo*/
    font-family: 'Quicksand', sans-serif;
}
/*----------------------------------------------------------------------------------------------------------*/
/*]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]>    MOBILE FIRST     <[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[*/
/*----------------------------------------------------------------------------------------------------------*/
@media(max-width: 479px){
    /*-------------->                      ESTILOS GENERALES                    <---------------************/

    /*     <-------------Layout y estilos en la barra de navegacion-encabezado-------------->                */
    .menu-navegacion{ /* Disposicion de elementos*/
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.2em;
        background: black;
        height: 4em;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
    /*                                  Estilos particulares a los elementos                                     */
    .logo-navegacion{ /*estilos al logo de la marca*/
        width: 5.5em;
        cursor: pointer;
    }
    h1{ /*ocultar el titulo de la marca*/ 
        display: none;
    }
    h2{ /*Estilos a los subtitulos*/
        background: #242424;
        height: 2.5em;
        color:#fff;
        width: 100%;
        min-width: 20rem;
        padding: 0.7em 0;
        text-align: center;
        font-size: 1.1em;
        font-family: 'Raleway', sans-serif;

    }
    .nav-label { /*Estilos al menu hamburguesa*/
        font-size: 2em;
        color: white;
        cursor: pointer;
    }
    .nav-input{ /*ocultar el check box del imput*/
        display:none;
    }
    .navegacion{ /*Estilos a la ventana del menu navegacion*/
        position:absolute;
        top:4em;
        left: 40%;
        width: 60%;
        height: 100vh;
        background-color: rgba(1, 1, 1,0.9);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        transition: 0.3s ease-in-out;
    }
    .nav-input:checked + .navegacion { /*Busqueda y mostrar menu navegacion*/
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .navegacion li { /*Estilos a cada enlace de lanavegacion lista*/
        list-style: none;
        width: 100%;
        border-bottom: solid 1px lightgray;
        text-align: center;
    }
    .navegacion li:hover { /*Efecto del cursor*/
        background: whitesmoke;
        transition: 0.2s;
    }
    .enlaceNavegacion { /*Estilos a cada enlace de lanavegacion*/
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.9rem;
        cursor: pointer;
        color: white;
        letter-spacing: 2px;
        font-family: 'Raleway', sans-serif;
        line-height: 60px;
    }
    .enlaceNavegacion:hover { /*efecto del cursor*/
        color: black;
        font-weight: bolder;
    }
    /*                    <-------------Layout y estilos en el footer--------------->                        */
    footer { /*Justificaciones al contenedor*/
        background: #1e1e1e;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px 0px;
        gap: 10px;
    }
    footer h4 { /*Estilos al texto del pie de pagina*/
        color: #fff;
        font-size: 0.9em;
        word-spacing: 5px;
        font-family: 'Raleway', sans-serif;
        font-weight:lighter;
    }
    .botones-rrss a { /*Estilos a los botones de RRSS*/
        display: inline-flex;
        color: #ffffff;
        height: 28px;
        width: 28px;
        background: black;
        justify-content: space-around;
        align-items: center;
        text-decoration: none;
    
        border: solid 2px #fff;
        border-radius: 50%;
        font-size: 1.2em;
        margin: 0 5px;
        transition: transform 0.4s;
    }
    .botones-rrss .facebook:hover { /*Estilos animados al boton Face*/
        transform: scale(1.3);
        background-color: #3c70a4;
    }
    .botones-rrss .whatsapp:hover { /*Estilos animados al boton WPP*/
        transform: scale(1.3);
        background-color: #00bb2d;
    }
    .botones-rrss .instagram:hover { /*Estilos animados al boton Instagram*/
        transform: scale(1.3);
        background-color: #E1306C;
    }

    /***************------------------------ ESTILOS PARA EL INDEX-------------------------------************/
    .contenedorGeneralIndex{ /*Justificaciones y layout del cuerpo index*/
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: whitesmoke;
        margin-top: 4.1em;
    }
    .imagenIndex{ /*Justificaciones de tamano a cada imagen del INDEX*/
        width: 100%;
        max-width: 640px;
        height: auto;
        padding: 5px;
    }
    .tituloScroll { /*Estilos a cada subtitulo*/
        height: 2.2em;
        background-color: #242424;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        font-size: 0.9em;
        font-weight: bold;
        padding: calc((2.5em - 1em)/2);
        font-family: 'Nanum Gothic', sans-serif;
    }
    .columnafotos{ /*Justificaciones al contenido de imagenes*/
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    /****************------------------------ ESTILOS PARA SOBRE MI-------------------------------************/
    .seccion-about{ /*Disposicion de los elementos justificaciones*/
        margin-top: 4.1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: url(../media/autoretrato-4.jpg);
        background-position: center center;
        background-size: cover;
        height: 100vh;
    }
    .contParrafoAbout{ /*Estilo al contendor de los parrafos - posicionamiento de sus padding*/
        padding:  0px 15px 10px 20px;  
    }
    .contParrafoAbout p{ /*Estilo a los parrafos y su fondo*/
        background: rgba(0,0,0,0.5);
        color: whitesmoke;
        border-radius: 5px;
    }

    /****************------------------------ ESTILOS  PARA PORTAFOLIO---------------------------************/
    .seccion-portfolio{/*Justificaciones al contenido de portafolio*/
        display: flex;
        flex-direction: column;
        margin-top:4.1em;
        box-sizing: border-box;
    }
    .seccion-portfolio h3, p {
        padding: 15px;
    }
    .galeria{
        list-style: none;
        padding: 5%;
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .galeria img { /*--Propiedades a las imagenes de la galeria--*/
        width: 100%;
        max-width: 120px;
        border: solid 1px #999;
        border-radius: 5px;
    }
    .modal{/* Estilos al modal*/
        display: none;
    }
    .modal:target { /*Fondo contenedor de la vista modal*/
        display: block;
        position: fixed;
        background: rgba(0, 0, 0, 0.6);
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .foto{ /*Propiedades del contenedor de la imagen en modo vista modal*/
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .foto a{ /* Estilos a los signos <  > */
        color: #fff;
        font-size: 50px;
        text-decoration: none;
        margin: 0px 10px;
    }
    .foto a:nth-child(2){ /* Justificacion de los signos < X >*/
        margin-top: 80px;
        height: 80%;
        flex-shrink: 2;
    }
    .foto img { /* Propiedades a la imagen en modo modal */
        width: 350px;
        height: auto;
        max-width: 100%;
        border: solid 3px #e9e9e9;
        box-sizing: border-box;
    }
    .cerrar{ /* Propiedades al boton de cerrar en vista modal*/
        display: block;
        background: #fff;
        width: 35px;
        height: 35px;
        margin: 40px auto;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        color: black;
        padding: 8px;
        border-radius: 50%;
        line-height: 17px;
    }

    /****************--------------- ESTILOS PARA CONTACTO-------------------------------************/
    .cuerpo-contacto{ /*Posicionamiento y justificacion del cuerpo de*/
        margin-top: 4.1em;
    }
    .formcontacto{/* Estilos al Form de contacto */
        margin: 1em auto;
        border-radius: 5px;
        padding: 10%;
        width: 90%;
        text-align: left;
        line-height: 20px;
        background: #999;
        color: #282828;
    }
    .descripcion2{ /*Descripcion del formulario de contacto*/
        width: 100%;
        height: 50px;
    }

    /****************--------------- ESTILOS PARA OPINIONES-------------------------------************/
    .cuerpo-opiniones{ /*Justificaciones*/
        margin-top: 4.1em;
        width: 100%;
    }
    .caja-opiniones{ /* Justificaciones al contenido - alineado de box opiniones*/
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        gap: 20px;
        background-image: url(../media/street-4.jpg);
        background-position: center center;
        background-size: cover;
        
    }
    .box-opinion{ /*Estilos a cada opinion*/
        background: rgba(255, 255, 255, 0.5);
        padding: 10px;
        border-radius: 10px;
    }
    h3{ /*Estilos a name de las opiniones*/
        font-size: 1em;
    }
    .box-opinion p { /*Estilos al contenido de parrafos opiniones*/
        font-size: 1em;
        font-family: 'Quicksand', sans-serif;
    }
    .contenedor-formulario{/* Estilos al formulario de Opiniones*/
        padding: 1em;
        margin: 2px;
        height: 10%;
        width: 100%;
        text-align: left;
        background: #999;
        color: black;
        font-size: 1em;
        font-weight: bolder;
        border-radius: 7px;
    }
    .inform{ /*Estilos a los input del formulario*/
        line-height: 20px;
        height: 2em;
        width: 100%;
    }
    legend{ /*Estilos al legend del formulario de opiniones*/
        color: black;
        text-transform: uppercase;
        text-align: center;
        padding-top: 10px;
        font-size: 16px;
    }
    .descripcion1{ /*Estilos a la descripcion opiniones*/
        width: 100%;
        height: 4em;
    }
    .bottons{ /* Estilos al boton enviar Form */
        width: 100%;
        height: 2em;
        color: #fff;
        background: #242424;
        cursor: pointer;

    }
}
/*----------------------------------------------------------------------------------------------------------*/
/*]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]>    TABLET     <[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[*/
/*----------------------------------------------------------------------------------------------------------*/
@media(min-width:481px) and (max-width:1023px){

    /*-------------->                      ESTILOS GENERALES                    <---------------************/

    /*     <-------------Layout y estilos en la barra de navegacion-encabezado-------------->                */
    .menu-navegacion{ /* Disposicion de elementos*/
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.8em;
        background: black;
        height: 5em;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
    /*                                  Estilos particulares a los elementos                                     */
    .logo-navegacion{ /*estilos al logo de la marca*/
        width: 8em;
        cursor: pointer;
    }
    h1{ /*ocultar el titulo de la marca*/ 
        display: none;
    }
    h2{ /*Estilos a los subtitulos*/
        background: #242424;
        height: 2.5em;
        color:#fff;
        width: 100%;
        min-width: 20rem;
        padding: 0.7em 1.2em;
        font-size: 1.8em;
        font-family: 'Raleway', sans-serif;

    }
    .nav-label { /*Estilos al menu hamburguesa*/
        font-size: 3em;
        color: white;
        cursor: pointer;
    }
    .nav-input{ /*ocultar el check box del imput*/
        display:none;
    }
    .navegacion{ /*Estilos a la ventana del menu navegacion*/
        position:absolute;
        top:5em;
        left: 40%;
        width: 60%;
        height: 100vh;
        background-color: rgba(1, 1, 1,0.9);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        transition: 0.3s ease-in-out;
    }
    .nav-input:checked + .navegacion { /*Busqueda y mostrar menu navegacion*/
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .navegacion li { /*Estilos a cada enlace de lanavegacion lista*/
        list-style: none;
        width: 100%;
        border-bottom: solid 1px lightgray;
        text-align: center;
    }
    .navegacion li:hover { /*Efecto del cursor*/
        background: whitesmoke;
        transition: 0.2s;
    }
    .enlaceNavegacion { /*Estilos a cada enlace de lanavegacion*/
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.2rem;
        cursor: pointer;
        color: white;
        letter-spacing: 2px;
        font-family: 'Raleway', sans-serif;
        line-height: 90px;
    }
    .enlaceNavegacion:hover { /*efecto del cursor*/
        color: black;
        font-weight: bolder;
    }
    /*                    <-------------Layout y estilos en el footer--------------->                        */
    footer { /*Justificaciones al contenedor*/
        background: #1e1e1e;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px 0px;
        gap: 10px;
    }
    footer h4 { /*Estilos al texto del pie de pagina*/
        color: #fff;
        font-size: 1.3em;
        word-spacing: 5px;
        font-family: 'Raleway', sans-serif;
        font-weight:lighter;
    }
    .botones-rrss a { /*Estilos a los botones de RRSS*/
        display: inline-flex;
        color: #ffffff;
        height: 40px;
        width: 40px;
        background: black;
        justify-content: space-around;
        align-items: center;
        text-decoration: none;
    
        border: solid 2px #fff;
        border-radius: 50%;
        font-size: 1.9em;
        margin: 0 5px;
        transition: transform 0.4s;
    }
    .botones-rrss .facebook:hover { /*Estilos animados al boton Face*/
        transform: scale(1.3);
        background-color: #3c70a4;
    }
    .botones-rrss .whatsapp:hover { /*Estilos animados al boton WPP*/
        transform: scale(1.3);
        background-color: #00bb2d;
    }
    .botones-rrss .instagram:hover { /*Estilos animados al boton Instagram*/
        transform: scale(1.3);
        background-color: #E1306C;
    }

    /***************------------------------ ESTILOS PARA EL INDEX-------------------------------************/
    .contenedorGeneralIndex{ /*Justificaciones y layout del cuerpo index*/
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        column-gap: 5px;
        margin-top: 5.1em;
    }
    .imagenIndex{ /*Justificaciones de tamano a cada imagen del INDEX*/
        width: 100%;
        max-width: 640px;
        height: auto;
        padding: 5px;
    }
    .tituloScroll { /*Estilos a cada subtitulo*/
        height: 2.2em;
        background-color: #242424;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.4em;
        font-weight: bold;
        padding: calc((2.2em - 1.4em)/2);
        font-family: 'Nanum Gothic', sans-serif;
    }
    .columnafotos{ /*Justificaciones al contenido de imagenes*/
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    /****************------------------------ ESTILOS PARA SOBRE MI-------------------------------************/
    .seccion-about{ /*Disposicion de los elementos justificaciones*/
        margin-top: 5.1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: url(../media/autoretrato-4.jpg);
        background-position: center center;
        background-size: cover;
        height: 100vh;
    }
    .contParrafoAbout{ /*Estilo al contendor de los parrafos - posicionamiento de sus padding*/
        padding:  0px 15px 30px 20px;  
    }
    .contParrafoAbout p{ /*Estilo a los parrafos y su fondo*/
        background: rgba(0,0,0,0.5);
        color: whitesmoke;
        border-radius: 5px;
        font-size: 1.5em;
    }

      /****************------------------------ ESTILOS  PARA PORTAFOLIO---------------------------************/
    .seccion-portfolio{/*Justificaciones al contenido de portafolio*/
        display: flex;
        flex-direction: column;
        margin-top:5.1em;
        box-sizing: border-box;
    }
    .seccion-portfolio h3, p {
        padding: 25px;
        font-size: 1.7em;
    }
    .galeria{
        list-style: none;
        padding: 5%;
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .galeria img { /*--Propiedades a las imagenes de la galeria--*/
        width: 100%;
        max-width: 320px;
        border: solid 1px #999;
        border-radius: 5px;
    }
    .modal{/* Estilos al modal*/
        display: none;
    }
    .modal:target { /*Fondo contenedor de la vista modal*/
        display: block;
        position: fixed;
        background: rgba(0, 0, 0, 0.6);
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .foto{ /*Propiedades del contenedor de la imagen en modo vista modal*/
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .foto a{ /* Estilos a los signos <  > */
        color: #fff;
        font-size: 50px;
        text-decoration: none;
        margin: 0px 10px;
    }
    .foto a:nth-child(2){ /* Justificacion de los signos < X >*/
        margin-top: 20px;
        height: 80%;
        flex-shrink: 2;
    }
    .foto img { /* Propiedades a la imagen en modo modal */
        width: 450px;
        height: auto;
        max-width: 100%;
        border: solid 3px #e9e9e9;
        box-sizing: border-box;
    }
    .cerrar{ /* Propiedades al boton de cerrar en vista modal*/
        display: block;
        background: #fff;
        width: 35px;
        height: 35px;
        margin: 40px auto;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        color: black;
        padding: 8px;
        border-radius: 50%;
        line-height: 17px;
    }

    /****************--------------- ESTILOS PARA CONTACTO-------------------------------************/
    .cuerpo-contacto{ /*Posicionamiento y justificacion del cuerpo de*/
        margin-top: 5.1em;
    }
    .formcontacto{/* Estilos al Form de contacto */
        margin: 1em;
        border-radius: 5px;
        padding: 5%;
        width: 90%;
        text-align: left;
        line-height: 30px;
        background: #999;
        color: #282828;
        font-size: 1.5em;
    }
    .descripcion2{ /*Descripcion del formulario de contacto*/
        width: 100%;
        height: 80px;
    }

     /****************--------------- ESTILOS PARA OPINIONES-------------------------------************/
     .cuerpo-opiniones{ /*Justificaciones*/
        margin-top: 5.1em;
        width: 100%;
    }
    .caja-opiniones{ /* Justificaciones al contenido - alineado de box opiniones*/
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        gap: 20px;
        background-image: url(../media/street-4.jpg);
        background-position: center center;
        background-size: cover;
        
    }
    .box-opinion{ /*Estilos a cada opinion*/
        background: rgba(255, 255, 255, 0.5);
        padding: 10px;
        border-radius: 10px;
    }
    h3{ /*Estilos a name de las opiniones*/
        font-size: 1.6em;
    }
    .box-opinion p { /*Estilos al contenido de parrafos opiniones*/
        font-size: 1.4em;
        font-family: 'Quicksand', sans-serif;
    }
    .contenedor-formulario{/* Estilos al formulario de Opiniones*/
        padding: 1em;
        margin: 2px;
        height: 10%;
        width: 100%;
        text-align: left;
        background: #999;
        color: black;
        font-size: 1.5em;
        font-weight: bolder;
        border-radius: 7px;
    }
    .inform{ /*Estilos a los input del formulario*/
        line-height: 35px;
        height: 2.8em;
        width: 100%;
    }
    legend{ /*Estilos al legend del formulario de opiniones*/
        color: black;
        text-transform: uppercase;
        text-align: center;
        padding-top: 10px;
        font-size: 1.2em;
    }
    .descripcion1{ /*Estilos a la descripcion opiniones*/
        width: 100%;
        height: 4em;
    }
    .bottons{ /* Estilos al boton enviar Form */
        width: 100%;
        height: 2.8em;
        color: #fff;
        background: #242424;
        cursor: pointer;
        font-size: 1em;

    }
}

/*----------------------------------------------------------------------------------------------------------*/
/*]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]>    DESKTOP     <[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[*/
/*----------------------------------------------------------------------------------------------------------*/
@media(min-width:1024px){
     /*-------------->                      ESTILOS GENERALES                    <---------------************/

    /*     <-------------Layout y estilos en la barra de navegacion-encabezado-------------->                */
    .menu-navegacion{ /* Disposicion de elementos*/
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5em;
        background: black;
        height: 7em;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
    .logo-marca { /*Estilos y justificaciones a los elementos logo y marca*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .link-logo-navegacion{ /*Estilos al enlace a del logo y la marca*/
        text-decoration: none;
    }
    /*                                  Estilos particulares a los elementos                                     */
    .logo-navegacion{ /*estilos al logo de la marca*/
        width: 7em;
        cursor: pointer;
    }
    h1{ /*ocultar el titulo de la marca*/ 
        font-family: 'Audiowide', cursive;
        font-size: 1.2em;
        text-decoration: none;
        text-transform: uppercase;
        color:#fff;
        letter-spacing: 2px;
        cursor: pointer;
    
    }
    h2{ /*Estilos a los subtitulos*/
        background: #242424;
        height: 2.3em;
        color:#fff;
        width: 100%;
        min-width: 20rem;
        padding: 0.5em 1.2em;
        font-size: 1.2em;
        font-family: 'Raleway', sans-serif;

    }
    .nav-label { /*Estilos al menu hamburguesa*/
        display:none;
    }
    .nav-input{ /*ocultar el check box del imput*/
        display:none;
    }
    .navegacion{ /*Estilos a la ventana del menu navegacion*/
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 30px;
    }
    
    .navegacion li { /*Estilos a cada enlace de lanavegacion lista*/
        list-style: none;
        width: 100%;
        text-align: center;
        padding: 0 25px 0 25px;
        border-radius: 2px;
    }
    .navegacion li:hover { /*Efecto del cursor*/
        background: whitesmoke;
        transition: 0.2s;
    }
    .enlaceNavegacion { /*Estilos a cada enlace de lanavegacion*/
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1rem;
        cursor: pointer;
        color: white;
        letter-spacing: 1px;
        font-family: 'Raleway', sans-serif;
        line-height: 5px;
    }
    .enlaceNavegacion:hover { /*efecto del cursor*/
        color: black;
        font-weight: bolder;
    }
    /*                    <-------------Layout y estilos en el footer--------------->                        */
    footer { /*Justificaciones al contenedor*/
        background: #1e1e1e;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px 0px;
        gap: 10px;
    }
    footer h4 { /*Estilos al texto del pie de pagina*/
        color: #fff;
        font-size: 0.9em;
        word-spacing: 3px;
        font-family: 'Raleway', sans-serif;
        font-weight:lighter;
    }
    .botones-rrss a { /*Estilos a los botones de RRSS*/
        display: inline-flex;
        color: #ffffff;
        height: 35px;
        width: 35px;
        background: black;
        justify-content: space-around;
        align-items: center;
        text-decoration: none;
    
        border: solid 2px #fff;
        border-radius: 50%;
        font-size: 1.5em;
        margin: 0 5px;
        transition: transform 0.4s;
    }
    .botones-rrss .facebook:hover { /*Estilos animados al boton Face*/
        transform: scale(1.3);
        background-color: #3c70a4;
    }
    .botones-rrss .whatsapp:hover { /*Estilos animados al boton WPP*/
        transform: scale(1.3);
        background-color: #00bb2d;
    }
    .botones-rrss .instagram:hover { /*Estilos animados al boton Instagram*/
        transform: scale(1.3);
        background-color: #E1306C;
    }

    /***************------------------------ ESTILOS PARA EL INDEX-------------------------------************/
     .contenedorGeneralIndex{ /*Justificaciones y layout del cuerpo index*/
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        column-gap: 5px;
        margin-top: 7.1em;
    }
    .imagenIndex{ /*Justificaciones de tamano a cada imagen del INDEX*/
        width: 100%;
        max-width: 340px;
        height: auto;
        padding-top: 2px;
    }
    .tituloScroll { /*Estilos a cada subtitulo*/
        height: 2em;
        background-color: #242424;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        font-size: 0.9em;
        padding: calc((2em - 1em)/2);
        font-family: 'Nanum Gothic', sans-serif;
    }
    .columnafotos{ /*Justificaciones al contenido de imagenes*/
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
   
    /****************------------------------ ESTILOS PARA SOBRE MI-------------------------------************/
    .seccion-about{ /*Disposicion de los elementos justificaciones*/
        margin-top: 7.1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: url(../media/autoretrato-4.jpg);
        background-position: center center;
        background-size: cover;
        height: 100vh;
    }
    .contParrafoAbout{ /*Estilo al contendor de los parrafos - posicionamiento de sus padding*/
        padding:  0px 15px 30px 20px;  
    }
    .contParrafoAbout p{ /*Estilo a los parrafos y su fondo*/
        background: rgba(0,0,0,0.5);
        color: whitesmoke;
        border-radius: 5px;
        font-size: 1.1em;
    }

      /****************------------------------ ESTILOS  PARA PORTAFOLIO---------------------------************/
    .seccion-portfolio{/*Justificaciones al contenido de portafolio*/
        display: flex;
        flex-direction: column;
        margin-top:7.1em;
        box-sizing: border-box;
    }
    .seccion-portfolio h3, p {
        padding: 15px;
        font-size: 1.2em;
    }
    .galeria{
        list-style: none;
        padding: 3%;
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .galeria img { /*--Propiedades a las imagenes de la galeria--*/
        width: 100%;
        max-width: 240px;
        border: solid 1px #999;
        border-radius: 5px;
        transition: transform 0.2s;
    }
    .galeria img:hover {
        transform: scale(1.02);
    }
    .modal{/* Estilos al modal*/
        display: none;
    }
    .modal:target { /*Fondo contenedor de la vista modal*/
        display: block;
        position: fixed;
        background: rgba(0, 0, 0, 0.6);
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .foto{ /*Propiedades del contenedor de la imagen en modo vista modal*/
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .foto a{ /* Estilos a los signos <  > */
        color: #fff;
        font-size: 50px;
        text-decoration: none;
        margin: 40px 10px;
    }
    .foto a:nth-child(2){ /* Justificacion de los signos < X >*/
        margin-top: 20px;
        height: 80%;
        flex-shrink: 2;
    }
    .foto img { /* Propiedades a la imagen en modo modal */
        width: 360px;
        height: auto;
        max-width: 100%;
        border: solid 3px #e9e9e9;
        box-sizing: border-box;
    }
    .cerrar{ /* Propiedades al boton de cerrar en vista modal*/
        display: block;
        background: #fff;
        width: 35px;
        height: 35px;
        margin: 140px auto;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        color: black;
        padding: 8px;
        border-radius: 50%;
        line-height: 20px;
    }

    /****************--------------- ESTILOS PARA CONTACTO-------------------------------************/
    .cuerpo-contacto{ /*Posicionamiento y justificacion del cuerpo de*/
        margin-top: 7.1em;
    }
    .formcontacto{/* Estilos al Form de contacto */
        margin: 1em;
        border-radius: 5px;
        padding: 3%;
        width: 60%;
        text-align: left;
        line-height: 30px;
        background: #999;
        color: #282828;
        font-size: 1.5em;
    }
    .descripcion2{ /*Descripcion del formulario de contacto*/
        width: 100%;
        height: 80px;
    }

     /****************--------------- ESTILOS PARA OPINIONES-------------------------------************/
     .cuerpo-opiniones{ /*Justificaciones*/
        margin-top: 7.1em;
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
        background-image: url(../media/street-4.jpg);
        background-position: center center;
        background-size: cover;
    }
    .caja-opiniones{ /* Justificaciones al contenido - alineado de box opiniones*/
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        padding: 50px;
        gap: 30px;
    }
    .box-opinion{ /*Estilos a cada opinion*/
        background: rgba(255, 255, 255, 0.5);
        padding: 10px;
        border-radius: 10px;
    }
    h3{ /*Estilos a name de las opiniones*/
        font-size: 1.2em;
    }
    .box-opinion p { /*Estilos al contenido de parrafos opiniones*/
        font-size: 1.2em;
        font-family: 'Quicksand', sans-serif;
    }
    .contenedor-formulario{/* Estilos al formulario de Opiniones*/  
        padding: 1em;
        margin: 2px;
        height: 100%;
        width: 20em;
        text-align: left;
        color: black;
        font-size: 1.2em;
        font-weight: bolder;
        border-radius: 5px solid 1px black;
    }
    .inform{ /*Estilos a los input del formulario*/
        line-height: 35px;
        height: 2.8em;
        width: 100%;
    }
    legend{ /*Estilos al legend del formulario de opiniones*/
        color: black;
        text-transform: uppercase;
        text-align: center;
        padding-top: 10px;
        font-size: 1.1em;
    }
    .descripcion1{ /*Estilos a la descripcion opiniones*/
        width: 100%;
        height: 7em;
    }
    .bottons{ /* Estilos al boton enviar Form */
        width: 100%;
        height: 2.2em;
        color: #fff;
        background: #242424;
        cursor: pointer;
        font-size: 1em;

    }
}


    